<link
  type='text/css'
  rel='stylesheet'
  href='//cdn.jsdelivr.net/npm/jsmind/style/jsmind.css'
/>
<link rel='stylesheet' href='/css/mindmap.css' />

<nav class='navbar bg'>
  <div class='container-fluid'>
    <div
      class='d-flex justify-content-between align-items-center'
      style='width: 1500px;'
    >
      <a href='/' class='nav-link btn addProject px-5'>
        Go Back
      </a>
    </div>

  </div>
</nav>

<div id='layout'>
  <div id='mindmap-nav'>
    <div class='p-3'>
      {{#if isEdit}}
        <h4>Edit Mindmap</h4>
      {{else}}
        <h4>Create Mindmap</h4>
      {{/if}}

      <!-- Show input for mindmap name -->
      <input
        type='text'
        class='form-control'
        id='mindmap-name'
        placeholder='Mindmap Name'
        value='{{mindmapName}}'
      />

      <div class='py-2 text-end'>
        {{#if isEdit}}
          <button
            class='btn btn-secondary'
            onclick='update_mindmap({{mindmapId}});'
          >
            <i class='fas fa-edit me-1'></i>Update
          </button>
        {{else}}
          <button class='btn btn-secondary' onclick='create_mindmap();'>
            <i class='fas fa-plus me-1'></i>Create
          </button>
        {{/if}}
      </div>
    </div>

    <!-- Basic Node collapse section -->
    <div class='p-3'>
      <div
        class='collapse-header'
        data-bs-toggle='collapse'
        data-bs-target='#basic-collapse'
        aria-expanded='true'
        aria-controls='basic-collapse'
      >
        <span class='collapse-button'>
          Basic Node
        </span>
        <i class='fas fa-chevron-right'></i>
      </div>
      <div class='collapse show' id='basic-collapse'>
        <div class='py-1'>
          <button class='btn btn-secondary w-100' onclick='add_node();'>
            <i class='fas fa-plus me-1'></i>
            Add
          </button>
        </div>
        <div class='py-1'>
          <button class='btn btn-secondary w-100' onclick='remove_node();'>
            <i class='fas fa-trash-alt me-1'></i>
            Delete
          </button>
        </div>
        <div class='py-1'>
          <button
            id='zoom-in-button'
            class='btn btn-secondary w-100'
            onclick='zoom_in();'
          >
            <i class='fas fa-search-plus me-1'></i>
            Zoom In
          </button>
        </div>
        <div class='py-1'>
          <button
            id='zoom-out-button'
            class='btn btn-secondary w-100'
            onclick='zoom_out();'
          >
            <i class='fas fa-search-minus me-1'></i>
            Zoom Out
          </button>
        </div>
        <div class='py-1'>
          <button class='btn btn-secondary w-100' onclick='expand_all();'>
            <i class='fas fa-expand me-1'></i>
            Expand all
          </button>
        </div>
        <div class='py-1'>
          <button class='btn btn-secondary w-100' onclick='collapse_all();'>
            <i class='fas fa-compress me-1'></i>
            Collapse all
          </button>
        </div>
      </div>
    </div>

    <!-- Styling collapse section -->
    <div class='p-3'>
      <div
        class='collapse-header'
        data-bs-toggle='collapse'
        data-bs-target='#styling-collapse'
        aria-expanded='true'
        aria-controls='styling-collapse'
      >
        <span class='collapse-button'>
          Styling
        </span>
        <i class='fas fa-chevron-right'></i>
      </div>
      <div class='collapse' id='styling-collapse'>
        <div class='py-1'>
          <select
            class='form-select bg-select-option'
            onchange='set_theme(this.value);'
          >
            <option value=''>default</option>
            <option value='primary'>primary</option>
            <option value='warning'>warning</option>
            <option value='danger'>danger</option>
            <option value='success'>success</option>
            <option value='info'>info</option>
            <option value='greensea' selected='selected'>greensea</option>
            <option value='nephrite'>nephrite</option>
            <option value='belizehole'>belizehole</option>
            <option value='wisteria'>wisteria</option>
            <option value='asphalt'>asphalt</option>
            <option value='orange'>orange</option>
            <option value='pumpkin'>pumpkin</option>
            <option value='pomegranate'>pomegranate</option>
            <option value='clouds'>clouds</option>
            <option value='asbestos'>asbestos</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Advanced collapse section -->
    <div class='p-3'>
      <div
        class='collapse-header'
        data-bs-toggle='collapse'
        data-bs-target='#advanced-collapse'
        aria-expanded='true'
        aria-controls='advanced-collapse'
      >
        <span class='collapse-button'>
          Advanced
        </span>
        <i class='fas fa-chevron-right'></i>
      </div>
      <div class='collapse' id='advanced-collapse'>
        <div class='py-1'>
          <input
            class='form-control custom-upload-button'
            type='file'
            id='file_input_nodearray'
          />
        </div>
        <div class='py-1'>
          <button class='btn btn-secondary w-100' onclick='open_nodearray();'>
            <i class='fas fa-eye me-1'></i>

            Show Mindmap
          </button>
        </div>
        <div class='py-1'>
          <button
            class='btn btn-secondary w-100'
            onclick='get_nodearray_data();'
          >
            <i class='fas fa-eye me-1'></i>
            Show data (JSON)
          </button>
        </div>
        <div class='py-1'>
          <button
            class='btn btn-secondary w-100'
            onclick='save_nodearray_file();'
          >
            <i class='fas fa-file-export me-1'></i>
            Export file
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id='mindmap-container'>
  </div>
  <div style='display: none'>
    <input class='file' type='file' id='image-chooser' accept='image/*' />
  </div>
  <div>
    <input
      type='text'
      class='d-none hidden'
      name='mindmap-id'
      id='mindmap-id'
      value='{{mindmapId}}'
      readonly
    />
  </div>
</div>

<script
  type='text/javascript'
  src='//cdn.jsdelivr.net/npm/jsmind/es6/jsmind.js'
></script>
<script
  type='text/javascript'
  src='//cdn.jsdelivr.net/npm/jsmind/es6/jsmind.draggable-node.js'
></script>
<script
  type='text/javascript'
  src='//cdn.jsdelivr.net/npm/jsmind/es6/jsmind.screenshot.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
></script>
<script src='/js/mindmap.js'></script>
{{#if isEdit}}{{else}}
  <script>open_empty();</script>
{{/if}}